EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=replace_with_sender_email@gmail.com
EMAIL_HOST_PASSWORD=replace_with_gmail_app_password
DEFAULT_FROM_EMAIL=replace_with_sender_email@gmail.com